<a href="https://colab.research.google.com/github/DariaUmipa/Labs/blob/main/%D0%9B_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практическая работа 4. Данные в формате CSV
ФИО: Суравикина Дарья

Группа: ПИН-б-о-22-1

# Задание
В файле содержатся сведения о товарах на складе (ID, наименование, поставщик, цена, количество, категория, скидка в %).

Определите количество наименований товаров в каждой из 4-х категорий.
Вычислите суммарный объем (в валюте) товаров по каждому из 4-х поставщиков, о также по товарам, у которых не указан поставщик.
Найдите самый дорогой товар с учетом скидки.
Найдите товар с минимальным количеством.

# Выполнение задания

In [ ]:
!wget https://raw.githubusercontent.com/enikolaev/IT-and-Programming/main/data/pract4/p4_data_26.csv

--2025-01-01 20:35:45--  https://raw.githubusercontent.com/enikolaev/IT-and-Programming/main/data/pract4/p4_data_26.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 57027 (56K) [text/plain]
Saving to: ‘p4_data_26.csv’

p4_data_26.csv      100%[===================>]  55.69K  --.-KB/s    in 0.01s

2025-01-01 20:35:46 (4.45 MB/s) - ‘p4_data_26.csv’ saved [57027/57027]

In [ ]:
F=open('p4_data_26.csv')
n_to_print=10
for line in F:
  n_to_print-=1
  if n_to_print>0:
    print(line)

ID,Name,Company,Price,Count,Category,discount

94-0806214,Snapple Lemon Tea,,$82.36,1,B,44

27-6321352,Squid - U - 10 Thailand,Jaromye,$752.21,24,C,6

14-2723478,Cheese - Comte,Zoory,$685.24,17,D,49

11-9048000,Sugar - Splenda Sweetener,Nestle Std,$239.45,29,B,20

97-2973754,Pastry - Chocolate Marble Tea,Jaromye,$99.63,7,B,49

73-1103735,Pork - European Side Bacon,Nestle Std,$356.17,3,A,39

98-5441874,Salmon Steak - Cohoe 8 Oz,Jaromye,$842.99,1,B,10

67-7933343,Flower - Dish Garden,Waka-waka,$578.73,5,A,27

In [ ]:
F=open('p4_data_26.csv')
header = F.readline().strip().split(',')
print(header)
print('-'*20)
n_to_print=10
for line in F:
  # производим обработку в любом случае ...
  data = line.strip().split(',')
  # ... аа печатаем только первые n_to_print
  n_to_print-=1
  if n_to_print>0:
    print(data)

['ID', 'Name', 'Company', 'Price', 'Count', 'Category', 'discount']
--------------------
['94-0806214', 'Snapple Lemon Tea', '', '$82.36', '1', 'B', '44']
['27-6321352', 'Squid - U - 10 Thailand', 'Jaromye', '$752.21', '24', 'C', '6']
['14-2723478', 'Cheese - Comte', 'Zoory', '$685.24', '17', 'D', '49']
['11-9048000', 'Sugar - Splenda Sweetener', 'Nestle Std', '$239.45', '29', 'B', '20']
['97-2973754', 'Pastry - Chocolate Marble Tea', 'Jaromye', '$99.63', '7', 'B', '49']
['73-1103735', 'Pork - European Side Bacon', 'Nestle Std', '$356.17', '3', 'A', '39']
['98-5441874', 'Salmon Steak - Cohoe 8 Oz', 'Jaromye', '$842.99', '1', 'B', '10']
['67-7933343', 'Flower - Dish Garden', 'Waka-waka', '$578.73', '5', 'A', '27']
['60-0094903', 'Smoked Tongue', 'Waka-waka', '$818.93', '50', 'A', '24']

In [ ]:
F = open('p4_data_26.csv')
header = F.readline().strip().split(',')

# список всех товаров
all_product = []

for line in F:
    data = line.strip().split(',')
    product = {}  # создаем пустой словарь
    for i, key in enumerate(header):  # обходим все заголовки
        product[key] = data[i]  # добавляем в словарь ключ:значение

    # проверяем, что значение в столбце 'Price' корректное
    if len(product['Price']) > 0 and product['Price'][0] == '$':
        # некоторые значения придется конвертировать к подходящим типам
        product['Price'] = float(product['Price'][1:])
        all_product.append(product)  # добавляем товар в список

print(all_product[:10])  # напечатаем первые 10 товаров

F.close()  # файл больше не нужен

[{'ID': '94-0806214', 'Name': 'Snapple Lemon Tea', 'Company': '', 'Price': 82.36, 'Count': '1', 'Category': 'B', 'discount': '44'}, {'ID': '27-6321352', 'Name': 'Squid - U - 10 Thailand', 'Company': 'Jaromye', 'Price': 752.21, 'Count': '24', 'Category': 'C', 'discount': '6'}, {'ID': '14-2723478', 'Name': 'Cheese - Comte', 'Company': 'Zoory', 'Price': 685.24, 'Count': '17', 'Category': 'D', 'discount': '49'}, {'ID': '11-9048000', 'Name': 'Sugar - Splenda Sweetener', 'Company': 'Nestle Std', 'Price': 239.45, 'Count': '29', 'Category': 'B', 'discount': '20'}, {'ID': '97-2973754', 'Name': 'Pastry - Chocolate Marble Tea', 'Company': 'Jaromye', 'Price': 99.63, 'Count': '7', 'Category': 'B', 'discount': '49'}, {'ID': '73-1103735', 'Name': 'Pork - European Side Bacon', 'Company': 'Nestle Std', 'Price': 356.17, 'Count': '3', 'Category': 'A', 'discount': '39'}, {'ID': '98-5441874', 'Name': 'Salmon Steak - Cohoe 8 Oz', 'Company': 'Jaromye', 'Price': 842.99, 'Count': '1', 'Category': 'B', 'discount': '10'}, {'ID': '67-7933343', 'Name': 'Flower - Dish Garden', 'Company': 'Waka-waka', 'Price': 578.73, 'Count': '5', 'Category': 'A', 'discount': '27'}, {'ID': '60-0094903', 'Name': 'Smoked Tongue', 'Company': 'Waka-waka', 'Price': 818.93, 'Count': '50', 'Category': 'A', 'discount': '24'}, {'ID': '06-9717473', 'Name': 'Dry Ice', 'Company': 'Zoory', 'Price': 337.07, 'Count': '5', 'Category': 'A', 'discount': '8'}]

In [ ]:
#Задание 1 Определите количество наименований товаров в каждой из 4-х категорий.

# Создадим словарь, в котором будем считать количество товаров в каждой категории
category_count = {}

# Посчитаем количество товаров в каждой категории
for product in all_product:
    category = product['Category']
    if category in category_count:
        category_count[category] += 1
    else:
        category_count[category] = 1

# Выведем количество товаров в каждой категории
for category, count in category_count.items():
    print(f"Количество товаров в категории {category}: {count}")

Количество товаров в категории B: 206
Количество товаров в категории C: 219
Количество товаров в категории D: 208
Количество товаров в категории A: 200

In [ ]:
#Задание 2 Вычислите суммарный объем (в валюте) товаров по каждому из 4-х поставщиков, о также по товарам, у которых не указан поставщик.

# Инициализируем переменные для хранения суммарного объема товаров по каждому поставщику и по товарам без указанного поставщика
supplier_1_total = 0
supplier_2_total = 0
supplier_3_total = 0
supplier_4_total = 0
no_supplier_total = 0

# Вычисляем суммарный объем по каждому поставщику
for product in all_product:
    if product['Company'] == 'Jaromye':
        supplier_1_total += product['Price'] * int(product['Count'])
    elif product['Company'] == 'Zoory':
        supplier_2_total += product['Price'] * int(product['Count'])
    elif product['Company'] == 'Nestle Std':
        supplier_3_total += product['Price'] * int(product['Count'])
    elif product['Company'] == 'Waka-waka':
        supplier_4_total += product['Price'] * int(product['Count'])
    else:
        no_supplier_total += product['Price'] * int(product['Count'])

# Выводим суммарный объем по каждому поставщику и по товарам без указанного поставщика
print('Суммарный объем товаров по Jaromye:', supplier_1_total)
print('Суммарный объем товаров по Zoory:', supplier_2_total)
print('Суммарный объем товаров по Nestle Std:', supplier_3_total)
print('Суммарный объем товаров по Waka-waka:', supplier_4_total)
print('Суммарный объем товаров без указанного поставщика:', no_supplier_total)

Суммарный объем товаров по Jaromye: 2194315.31
Суммарный объем товаров по Zoory: 2040037.1800000006
Суммарный объем товаров по Nestle Std: 2014175.1999999988
Суммарный объем товаров по Waka-waka: 2254710.85
Суммарный объем товаров без указанного поставщика: 1143717.9800000002

In [ ]:
#Задание 3
# Найдите самый дорогой товар с учетом скидки
max_price = 0
max_discounted_price = 0
max_product = {}

for product in all_product:
    price = product['Price']
    discount = float(product['discount'])
    discounted_price = price * (1 - discount / 100)

    if discounted_price > max_discounted_price:
        max_price = price
        max_discounted_price = discounted_price
        max_product = product

print("Самый дорогой товар с учетом скидки:")
print("ID:", max_product['ID'])
print("Наименование:", max_product['Name'])
print("Поставщик:", max_product['Company'])
print("Цена без скидки:", max_price)
print("Цена с учетом скидки:", max_discounted_price)
print("Количество:", max_product['Count'])
print("Категория:", max_product['Category'])
print("Скидка:", max_product['discount'])

Самый дорогой товар с учетом скидки:
ID: 21-7608633
Наименование: Wine - Cotes Du Rhone Parallele
Поставщик: Jaromye
Цена без скидки: 977.77
Цена с учетом скидки: 948.4368999999999
Количество: 8
Категория: C
Скидка: 3

In [ ]:
#Задание 4
#Найдите товар с минимальным количеством
min_quantity = float('inf')
product_with_min_quantity = None

for product in all_product:
    quantity = int(product['Count'])
    if quantity < min_quantity:
        min_quantity = quantity
        product_with_min_quantity = product

print("Товар с минимальным количеством:")
print(product_with_min_quantity)

Товар с минимальным количеством:
{'ID': '94-0806214', 'Name': 'Snapple Lemon Tea', 'Company': '', 'Price': 82.36, 'Count': '1', 'Category': 'B', 'discount': '44'}